
/*content csses*/
.App-intro {
  font-size: large;
}

.App-content {
  position: fixed;
  top: 80px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.title{    
  color: white;
  padding: 5px;
  font-size: 30px;
} 

.message {
  padding-bottom: 15px;
}

.letter {
  max-width: 40vw;
  max-height: 50vh;
}

.doorContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

button {
  cursor: pointer;
  background-color: #215c4b;
  margin: 30px 4px 50px;
  border: none;
  color: white;
  font: 12px/18px "Roboto Regular",Arial,sans;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 8px 24px;
  transition: all .5s;
  cursor: pointer;
  outline: none;
}

button:hover{

  background-color: #102e25;
}

.lastSpell {
  color: black;
  font-size: 24px;
}